{% extends "layouts/admin-lte.html" %}

<!-- Title -->
{% block title %}Inicio{% endblock %}

<!-- Start Custom CSS Block -->
{% block css_page %}
<!-- Start CSS Page -->
<style>
    /**/
</style>
<link rel="stylesheet" href="">
<!-- End CSS Page -->
{% endblock %}
<!-- End Custom CSS Block -->

<!-- Page Title -->
{% block page_title %}Inicial Paralelo B{% endblock %}
<!-- Navegation Page -->
{% block page_navigation %}
<li class="breadcrumb-item active">Paralelo B</li>
{% endblock %}

<!-- Main Content -->
{% block main_content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="m-0">Gemma Corrales</h5>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <img class="img-circle elevation-2" src="{{ url_for('static', filename='adminlte/dist/img/avatar3.png') }}" alt="...">
                        </div>
                    </div>
                    <div class="card-footer">
                        <h6 class="card-title">Puntaje:</h6>

                        <p class="card-text">10/10</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="m-0">Alma Castañeda</h5>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <img class="img-circle elevation-2" src="{{ url_for('static', filename='adminlte/dist/img/avatar2.png') }}" alt="...">
                        </div>
                    </div>
                    <div class="card-footer">
                        <h6 class="card-title">Puntaje:</h6>

                        <p class="card-text">7/10</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h5 class="m-0">Jose David Araujo</h5>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <img class="img-circle elevation-2" src="{{ url_for('static', filename='adminlte/dist/img/avatar.png') }}" alt="...">
                        </div>
                    </div>
                    <div class="card-footer">
                        <h6 class="card-title">Puntaje:</h6>

                        <p class="card-text">8/10</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
{% endblock %}

<!-- Start Custom JS Block -->
{% block js_page %}
<!-- Start Page JS -->
<script>
    //
</script>
<script src=""></script>
<!-- End Page JS -->
{% endblock %}
<!-- Start Custom JS Block -->